/*body{
    background-color: #ECF3FD;
    font-size: 14px;
    font-family: Arial;
    color: #000000;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
} 
*/
body{
    /*background-image:  url("https://a-static.besthdwallpaper.com/la-naturaleza-de-las-rosas-rojas-papel-pintado-2048x1536-21428_26.jpg");
    background-color: #EEEEEE; */
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
}

/*.form-group {
    width: 80% !important; 
    text-align: center;
}*/

.ui-icon-excel {
    background: url("https://a-static.besthdwallpaper.com/la-naturaleza-de-las-rosas-rojas-papel-pintado-2048x1536-21428_26.jpg")  no-repeat top left !important;;
}

.container {
    margin: auto;
    background-color: #ffffff;
    width: 96% !important;
    margin-top: 10px !important;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    padding: 16px;
    min-height: 200px;
}

.centrado {
    width: 30%;
    margin: auto;
}

.login {
    font-family: Arial;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
}

.titulo_login {
    background-color: #1946BA;
    text-transform: uppercase;
    border-radius: 4px 4px 0px 0px;
    padding: 10px;
    font-weight: bold;
    color: #ffffff;
}

.titulo {
    /*background-color: #F0F0F0;*/
    margin-bottom: 10px;
    text-transform: uppercase;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    font-weight: bold;
    color: black;
    border: 1px solid #F1F5F7;
    /*box-shadow: 0px 10px 10px -6px #D4CDC0;*/
    background-color: #E1E1E1;
    text-shadow: -2px 2px 3px #ffffff;
}

.subtitulo {
    text-align: center; 
    margin-top: 15px; 
    margin-bottom: 25px;
    font: oblique bold 120% cursive;
}

.empresa {
    color: #FFF;
    text-align: center;
    font-weight: 700;
    font: italic bold 100px Georgia, Serif;
    text-shadow: -1px 2px 1px #009639, -6px 4px 0 #0a0e27;
    font-size: 35px;
    text-transform: uppercase;
    margin-top: 25px;
    text-align: center;
}

.usuario {
    color: #009639;
    font-weight: normal;
}

.footer {
    position:fixed;
    left: 0px;
    bottom: 0px;
    height: 42px;
    width: 100%;
    background-color: #282B2E;
    text-align: center;
    color: #ffffff;
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
}

sombra {
    box-shadow: 2px 2px 5px #999 !important;
}

button{
    border-radius: 0px !important;
}

a{
    border-radius: 0px !important;
    text-align: center !important;
}

.panel-footer {
    text-align: left !important;
    font-size: 8px;
}

.form-control {
    display: inline !important;
    width: 80%;
} 

.ctr-btn {
    width: 49% !important;
    height: 30px !important;
    outline : none !important;
}

.ctr-btn-1 {
    outline : none !important;
}

.ctr-btn-f {
    outline : none !important;
    color: #033A5D !important;
}

.form-selec { 
    width: 230px !important
}

@media (min-width: 1200px) {
    .login {
        width: 1170px;
    }
    .centrado {
        width: 42%;
    }
    .ctr-btn-1 {
        width: 32% !important; 
    }
    .empresa {
        font-size: 30px;
    }
    /*.container {
        color: red;
    }*/
    .logo {
        width: 200px !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .login {
        width: 970px;
    }
    .centrado {
        width: 45%;
    }
    .ctr-btn-1 {
        width: 32% !important; 
    }
    .empresa {
        font-size: 15px;
    }
    /*.container {
        color: blue;
    }*/
    .logo {
        width: 150px !important;
    }
}

@media screen and (min-width: 768.1px) and (max-width: 991px) {
    .login {
        width: 400px;
    }
    .centrado {
        width: 65%;
    }
    .ctr-btn-1 {
        width: 32% !important;
    }
    .empresa {
        font-size: 18px;
    }
    /*.container {
        color: violet;
    }*/
    .logo {
        width: 150px !important;
    }
    .usuario {
        display: none !important;
    }
}

@media screen and (min-width: 300.1px) and (max-width: 768px) {
    .login {
        width: 300px;
        font-size: 12px;
    }
    .centrado {
        width: 100%;
    }
    .form-control {
        display: inline !important;
        width: 75%;
        font-size: 12px;
    } 
    .panel-footer {
        font-size: 7px;
    }
    .ctr-btn {
        width: 100% !important;
        font-size: 10px !important;
    }
    .ctr-btn-1 {
        width: 100% !important;
        font-size: 10px !important;
    }
    .empresa {
        font-size: 15px;
    }
    /*.container {
        color: yellow;
    }*/
    .logo {
        display: none !important;
    }
    .usuario {
        display: none !important;
    }
}

@media (max-width: 300px){
    .login {
        width: 250px;
        font-size: 10px;
    }
    .centrado {
        width: 90%;
    }
    .form-control {
        display: inline !important;
        width: 75%;
        font-size: 10px;
    } 
    .panel-footer {
        font-size: 5px;
    }
    .ctr-btn {
        width: 100% !important;
        font-size: 10px !important;
    }
    .ctr-btn-1 {
        width: 100% !important;
        font-size: 10px !important;
    }
    .empresa {
        font-size: 12px;
        text-shadow: -2px 1px 0 #0a0e27;
    }
    /*.container {
        color: orange;
    }*/
    .logo {
        display: none !important;
    }
    .usuario {
        display: none !important;
    }
}

.ui-growl-title {
    background-color: #033A5D !important;
    background-image: none;
    text-shadow: none;
    color: #ffffff !important;
}

.ui-widget-header {
    background-color: #033A5D !important;
    background-image: none;
    text-shadow: none;
    color: #ffffff !important;
}

.ui-dialog-message {

}

.ui-dialog-content {

}

.ui-growl-message-warn .ui-growl-item {
    background-color: yellow
}

.header {
    /*background-image: linear-gradient(#023C62, #0C161E);*/
    background: linear-gradient(to right, #0C161E, #023C62 90%, #0C161E); 
    /*background: linear-gradient(to bottom right, #0C161E, #023C62);*/
}

.header2 {
    position: fixed !important;
    margin-top: -10px !important;
    width: 100% !important;
}

/*MENU*/
.menu .ui-menuitem-text {
    color: #0C161E !important;
    font-weight: bold !important;
    text-transform: uppercase;
}

.ui-menubar,.ui-menu-child,.ui-menu {
    background-image: none;
    background-color: #ffffff;
    box-shadow: 5px 5px 8px #E1E1E1;
    border: 1px solid #ffffff !important;
    border-bottom: 1px solid #282B2E !important;
    border-top: 1px solid #ffffff !important;
}



