<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>Ventas</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" crossorigin="anonymous"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <link href="../resources/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="resources/css/style.css" rel="stylesheet" type="text/css"/>
        <script src="resources/js/header.js" type="text/javascript"></script>
    </h:head>

    <h:body> 
        <estatico>        
            <div id="top" class="header">            
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2" align="center">
                            <img class="logo" src="https://plantecuador.com/wp-content/uploads/2018/01/logo-web.png" alt=""/>                       
                        </div>
                        <div class="col-sm-8 empresa">
                            Sistema de control de personal de ventas
                        </div>
                        <div class="col-sm-2">
                            <div class="navbar ">
                                <ul class="nav navbar-nav navbar-right ">
                                    <li class="dropdown ">
                                        <a href="#" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="fa fa-user-circle" style="color: #009639; margin-right: 5px;"></span>
                                            <p:outputLabel class="usuario" value="Natalia Pilco"/>
                                            <span class="fa fa-chevron-down" style="color: #009639;"></span>
                                        </a>
                                        <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                            <li><a href="#{request.contextPath}/ventas/misDatos.xhtml">Mis Datos</a></li>
                                            <li><a href="#{request.contextPath}/ventas/cambioClave.xhtml">Cambiar Clave</a></li>
                                            <li><button type="submit" class="btn btn-primary" style="width: 100%">Salir</button></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <ui:insert name="top">
                    <h:form>
                        <p:menubar styleClass="menu" model="#{controlMenuControlador.model}" />
                    </h:form>
                </ui:insert>
            </div>
        </estatico>

        <div id="content" class="center_content">
            <div class="container">
                <ui:insert name="content">Content</ui:insert>
            </div>
        </div>

        <div id="bottom" class="footer">
            <ui:insert name="bottom">&copy;PLANTEC CIA. LTDA<br/>Quito - Ecuador</ui:insert>
        </div>

    </h:body>
</html>
