<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <ui:composition template="./plantilla/principal.xhtml">
            <ui:define name="content">
                <div class="titulo">Clientes</div>
                <h:form id="frm_lista">
                    <div class="card">
                        <p:dataTable id="tabla_lista" var="cliente" paginator="true" paginatorPosition="top" rows="100" reflow="true"
                                     value="#{clienteControlador.listaClientes}" emptyMessage="No existe información">
                            <p:column headerText="NOMBRE" filterBy="#{cliente.nombre}"
                                      filterStyle="width:100%" filterMatchMode="contains">
                                <h:outputText value="#{cliente.nombre}" />
                            </p:column>
                            <p:column headerText="IDENTIFICACIÓN" filterBy="#{cliente.identificacion}"
                                      filterStyle="width:100%" filterMatchMode="contains">
                                <h:outputText value="#{cliente.identificacion}" />
                            </p:column>
                            <p:column headerText="ES NACIONAL" filterBy="#{clienteControlador.getEsNacional(cliente)}"
                                      filterStyle="width:100%" filterMatchMode="contains">
                                <h:outputText value="#{clienteControlador.getEsNacional(cliente)}" />
                            </p:column>
                            <p:column headerText="TELÉFONO1" filterBy="#{cliente.telefono1}"
                                      filterStyle="width:100%" filterMatchMode="contains">
                                <h:outputText value="#{cliente.telefono1}" />
                            </p:column>
                            <p:column headerText="TELÉFONO2" filterBy="#{cliente.telefono2}"
                                      filterStyle="width:100%" filterMatchMode="contains">
                                <h:outputText value="#{cliente.telefono2}" />
                            </p:column>
                            <p:column headerText="CORREO" filterBy="#{cliente.correo}"
                                      filterStyle="width:100%" filterMatchMode="contains">
                                <h:outputText value="#{cliente.correo}" />
                            </p:column>
                            <p:column headerText="DIRECCIÓN" filterBy="#{cliente.direccion}"
                                      filterStyle="width:100%" filterMatchMode="contains">
                                <h:outputText value="#{cliente.direccion}" />
                            </p:column>
                            <p:column headerText="ESTADO" filterBy="#{clienteControlador.getEstado(cliente.estado)}"
                                      filterStyle="width:100%" filterMatchMode="contains">
                                <h:outputText value="#{clienteControlador.getEstado(cliente.estado)}" />
                            </p:column>
                        </p:dataTable>  
                    </div>
                </h:form>
            </ui:define>            
        </ui:composition>
    </h:body>
</html>
