<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>CONTROL DE AGENDA - PLANTEC</title>
    </h:head>
    <h:body>
         
            <h:form id="frmContenido" prependId="false" class="form-horizontal">
                <p:commandButton value="Generar Reporte" actionListener="#{generarReporte.imprimirReporte()}"/>
            </h:form>
    
    </h:body>
</html>

