<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">   
    <h:head>
        <title>Login</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" crossorigin="anonymous"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <link href="resources/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="resources/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body>
        <div class="container" style="border: 0px;">
            <div class="login">
                <div class="row center-block">
                    <div class="col-md-5 col-md-offset-3">
                        <div class="panel panel-primary" style="box-shadow: 8px 8px 10px #999">
                            <div class="titulo_login">
                                <span class="fa fa-sign-in">&nbsp;&nbsp;Sistema de Ventas</span>
                            </div>
                            <div align="center" style="margin-bottom: 10px; margin-top: 10px;">
                                <img src="https://plantecuador.com/wp-content/uploads/2018/01/logo-web.png" alt="Plantec" width="60%"/>
                            </div>
                            <div class="panel-body" align="center">
                                <h:form class="form-horizontal" id="formLogin">
                                    <div class="form-group" align="center">  
                                        <div class="col-sm-12">
                                            <h:outputLabel for="usuario" class="fa fa-user" style="margin-right: 10px;"/>
                                            <p:inputText class="form-control" id="usuario" value="#{validarUsuario.VEmpleado.usuario}" placeholder="Usuario" required="true" label="usuario" requiredMessage="Ingrese el usuario"/>
                                        </div>
                                    </div>
                                    <div class="form-group" align="center">                                    
                                        <div class="col-sm-12">
                                            <h:outputLabel for="password" class="fa fa-unlock-alt" style="margin-right: 10px;"/>
                                            <p:password class="form-control" id="password" value="#{validarUsuario.VEmpleado.password}" placeholder="Clave" required="true" label="password" requiredMessage="Ingrese la clave"/>
                                        </div>
                                    </div>
                                    <div align="center" style="margin: 0 24px 0 30px;">   
                                        <p:commandButton value="Login" update="formLogin" actionListener="#{validarUsuario.login()}"
                                                         class="btn btn-success btn-sm ctr-btn col-lg-6 col-md-6 col-sm-12 col-xs-12"/>    
                                        <a class="btn btn-primary btn-sm ctr-btn col-lg-6 col-md-6 col-sm-12 col-xs-12"
                                           href="/ProyectoCRM/faces/rptAgenda.xhtml">
                                            ¿Olvidó su clave?
                                        </a>                               
                                    </div>
                                </h:form>
                            </div>
                            <div class="panel-footer">
                                PLANTEC CIA. LTDA. 2021
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            var campo = $('#usuario').val();

            if (campo === '') {
                alert("El campo esta vacío");
                return false;
            }
        </script>

    </h:body>
</html>

