<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <ui:composition template="./plantilla/principal.xhtml">
            <ui:define name="content">
                <div class="titulo">Administración de Menú</div>
                <p:commandButton class="ctr-btn-f" value="NUEVO" icon="fa fa-file-text" update=":frm_nuevo:datosIng" actionListener="#{menuControlador.nuevoMenu()}" oncomplete="PF('dialogNuevo').show()" title="Nuevo registro"/>
                <h:form id="frm_lista">
                    <div class="card">
                        <p:dataTable id="tabla_lista" var="menu" paginator="true" paginatorPosition="top" rows="100" reflow="true"
                                     value="#{menuControlador.listaMenus}" emptyMessage="No existe información">
                            <p:column headerText="NOMBRE" filterBy="#{menu.VVentanaId.nombre}"
                                      filterStyle="width:100%" filterMatchMode="contains">
                                <h:outputText value="#{menu.VVentanaId.nombre}" />
                            </p:column>
                            <p:column headerText="ROL" filterBy="#{menu.VRolId.nombre}"
                                      filterStyle="width:100%" filterMatchMode="contains">
                                <h:outputText value="#{menu.VRolId.nombre}" />
                            </p:column>
                            <p:column headerText="TIPO" filterBy="#{menuControlador.getTipo(menu.tipo)}"
                                      filterStyle="width:100%" filterMatchMode="contains">
                                <h:outputText value="#{menuControlador.getTipo(menu.tipo)}" />
                            </p:column>
                            <p:column headerText="SUBMENU" filterBy="#{menuControlador.getSubmenu(menu.codigoSubmenu.VMenuId)}"
                                      filterStyle="width:100%" filterMatchMode="contains">
                                <h:outputText value="#{menuControlador.getSubmenu(menu.codigoSubmenu.VMenuId)}" />
                            </p:column>
                            <p:column headerText="URL" filterBy="#{menu.url}"
                                      filterStyle="width:100%" filterMatchMode="contains">
                                <h:outputText value="#{menu.url}" />
                            </p:column>
                            <p:column headerText="ORDEN" filterBy="#{menu.orden}"
                                      filterStyle="width:100%" filterMatchMode="contains">
                                <h:outputText value="#{menu.orden}" />
                            </p:column>
                            <p:column headerText="ESTADO" filterBy="#{menuControlador.getEstado(menu.estado)}"
                                      filterStyle="width:100%" filterMatchMode="contains">
                                <h:outputText value="#{menuControlador.getEstado(menu.estado)}" />
                            </p:column>
                            <p:column class="acciones" style="width: 100px;">
                                <f:facet name="header">  
                                    <h:outputText value="ACCIONES" />  
                                </f:facet>   
                                <p:commandButton class="ctr-btn-f" icon="fa fa-pencil" oncomplete="PF('dialogEditar').show()" 
                                                 process="@this" update=":frm_editar" title="Editar">
                                    <f:setPropertyActionListener target="#{menuControlador.menu}" value="#{menu}"/>
                                </p:commandButton>
                                <p:commandButton class="ctr-btn-f" icon="fa fa-trash" oncomplete="PF('dialogEliminar').show()" 
                                                 process="@this" update=":frm_eliminar" title="Eliminar">
                                    <f:setPropertyActionListener target="#{menuControlador.menu}" value="#{menu}"/>
                                </p:commandButton>
                            </p:column>
                        </p:dataTable>    
                    </div>
                </h:form>

                <h:form id="frm_nuevo">
                    <p:dialog id="dialog_nuevo" widgetVar="dialogNuevo" resizable="false" showEffect="size" hideEffect="explode" modal="true">
                        <p:panelGrid id="datosIng" class="panelIng">
                            <p:row style="text-align: center">
                                <p:column colspan="2">NUEVO REGISTRO</p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Ventana* : " />
                                </p:column>
                                <p:column>
                                    <h:panelGrid columns="2">
                                        <p:selectOneMenu id="ventana" value="#{menuControlador.ventanaId}" required="true" label="Ventana">
                                            <f:selectItems value="#{menuControlador.listVentanas}"/>
                                        </p:selectOneMenu>
                                        <p:message for="ventana" display="icon" />
                                    </h:panelGrid>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Rol* : " />
                                </p:column>
                                <p:column>
                                    <h:panelGrid columns="2">
                                        <p:selectOneMenu id="rol" value="#{menuControlador.rolId}" required="true" label="Rol">
                                            <f:selectItems value="#{rolControlador.listRoles}"/>
                                        </p:selectOneMenu>
                                        <p:message for="rol" display="icon" />
                                    </h:panelGrid>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Tipo* : " />
                                </p:column>
                                <p:column>
                                    <h:panelGrid columns="2">
                                        <p:selectOneMenu id="tipo" value="#{menuControlador.menu.tipo}" required="true" label="Tipo">
                                            <f:selectItem itemValue="S" itemLabel="Submenu"/>
                                            <f:selectItem itemValue="I" itemLabel="Item"/>  
                                        </p:selectOneMenu>
                                        <p:message for="tipo" display="icon" />
                                    </h:panelGrid>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Submenu* : " />
                                </p:column>
                                <p:column>
                                    <h:panelGrid columns="2">
                                        <p:selectOneMenu id="submenu" value="#{menuControlador.submenuId}" label="Submenu">
                                            <f:selectItem itemLabel="--No Item--" itemValue="0"/>
                                            <f:selectItems value="#{menuControlador.listMenus}"/>
                                        </p:selectOneMenu>
                                        <p:message for="submenu" display="icon" />
                                    </h:panelGrid>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="URL* : " />
                                </p:column>
                                <p:column>
                                    <h:panelGrid columns="2">
                                        <p:inputText id="url" value="#{menuControlador.menu.url}" label="Url" maxlength="50"/>
                                        <p:message for="url" display="icon" />
                                    </h:panelGrid>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Orden* : " />
                                </p:column>
                                <p:column>
                                    <h:panelGrid columns="2">
                                        <p:inputNumber id="orden" value="#{menuControlador.menu.orden}" required="true" label="Orden" maxlength="50"/>
                                        <p:message for="orden" display="icon" />
                                    </h:panelGrid>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Estado* : " />
                                </p:column>
                                <p:column>
                                    <h:panelGrid columns="2">
                                        <p:selectOneMenu id="estado" value="#{menuControlador.menu.estado}" required="true" label="Estado">
                                            <f:selectItem itemValue="true" itemLabel="Activo"/>
                                            <f:selectItem itemValue="false" itemLabel="Inactivo"/>                   
                                        </p:selectOneMenu>
                                        <p:message for="estado" display="icon" />
                                    </h:panelGrid>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                        <p:commandButton value="Guardar" icon="ui-icon-circle-check" actionListener="#{menuControlador.crearMenu()}" update=":frm_lista:tabla_lista, frm_nuevo:datosIng"/>
                        <p:commandButton value="Cancelar" icon="ui-icon-circle-close" type="button" onclick="PF('dialogNuevo').hide()"/>
                    </p:dialog>
                </h:form>

                <h:form id="frm_editar">
                    <p:dialog id="dialog_editar" widgetVar="dialogEditar" resizable="false" showEffect="size" hideEffect="explode" modal="true">
                        <p:panelGrid id="datosEdit">
                            <p:row style="text-align: center">
                                <p:column colspan="2">EDITAR REGISTRO</p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Ventana* : " />
                                </p:column>
                                <p:column>
                                    <h:panelGrid columns="2">
                                        <p:selectOneMenu id="ventana" value="#{menuControlador.ventanaId}" required="true" label="Ventana">
                                            <f:selectItems value="#{menuControlador.listVentanas}"/>
                                        </p:selectOneMenu>
                                        <p:message for="ventana" display="icon" />
                                    </h:panelGrid>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Rol* : " />
                                </p:column>
                                <p:column>
                                    <h:panelGrid columns="2">
                                        <p:selectOneMenu id="rol" value="#{menuControlador.rolId}" required="true" label="Rol">
                                            <f:selectItems value="#{rolControlador.listRoles}"/>
                                        </p:selectOneMenu>
                                        <p:message for="rol" display="icon" />
                                    </h:panelGrid>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Tipo* : " />
                                </p:column>
                                <p:column>
                                    <h:panelGrid columns="2">
                                        <p:selectOneMenu id="tipo" value="#{menuControlador.menu.tipo}" required="true" label="Tipo">
                                            <f:selectItem itemValue="S" itemLabel="Submenu"/>
                                            <f:selectItem itemValue="I" itemLabel="Item"/>  
                                        </p:selectOneMenu>
                                        <p:message for="tipo" display="icon" />
                                    </h:panelGrid>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Submenu* : " />
                                </p:column>
                                <p:column>
                                    <h:panelGrid columns="2">
                                        <p:selectOneMenu id="submenu" value="#{menuControlador.submenuId}" label="Submenu">
                                            <f:selectItem itemLabel="--No Item--" itemValue="0"/>
                                            <f:selectItems value="#{menuControlador.listMenus}"/>
                                        </p:selectOneMenu>
                                        <p:message for="submenu" display="icon" />
                                    </h:panelGrid>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="URL* : " />
                                </p:column>
                                <p:column>
                                    <h:panelGrid columns="2">
                                        <p:inputText id="url" value="#{menuControlador.menu.url}" label="Url" maxlength="50"/>
                                        <p:message for="url" display="icon" />
                                    </h:panelGrid>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Orden* : " />
                                </p:column>
                                <p:column>
                                    <h:panelGrid columns="2">
                                        <p:inputNumber id="orden" value="#{menuControlador.menu.orden}" required="true" label="Orden" maxlength="50"/>
                                        <p:message for="orden" display="icon" />
                                    </h:panelGrid>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Estado* : " />
                                </p:column>
                                <p:column>
                                    <h:panelGrid columns="2">
                                        <p:selectOneMenu id="estado" value="#{menuControlador.menu.estado}" required="true" label="Estado">
                                            <f:selectItem itemValue="true" itemLabel="Activo"/>
                                            <f:selectItem itemValue="false" itemLabel="Inactivo"/>                   
                                        </p:selectOneMenu>
                                        <p:message for="estado" display="icon" />
                                    </h:panelGrid>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                        <p:commandButton value="Editar" class="ctr-btn-f" icon="ui-icon-circle-check" actionListener="#{menuControlador.editarMenu()}" update=":frm_lista:tabla_lista, frm_editar:datosEdit"/>
                        <p:commandButton value="Cancelar" class="ctr-btn-f" icon="ui-icon-circle-close" type="button" onclick="PF('dialogEditar').hide()"/>
                    </p:dialog>
                </h:form>

                <h:form id="frm_eliminar">
                    <p:dialog id="dialog_eliminar" widgetVar="dialogEliminar" resizable="false" showEffect="size" hideEffect="explode" modal="true">
                        <p:panelGrid>
                            <p:row>
                                <p:column>
                                    <br/><h:outputText value="¿Esta seguro que desea eliminar el registro?"/><br/><br/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                        <p:commandButton value="Aceptar" class="ctr-btn-f" icon="ui-icon-circle-check" actionListener="#{menuControlador.eliminarMenu()}" update=":frm_lista:tabla_lista" oncomplete="PF('dialogEliminar').hide()"/>
                        <p:commandButton value="Cancelar" class="ctr-btn-f" icon="ui-icon-circle-close" oncomplete="PF('dialogEliminar').hide()"/>
                    </p:dialog>
                </h:form> 

            </ui:define>            
        </ui:composition>
    </h:body>
</html>
