<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <ui:composition template="./plantilla/principal.xhtml">
            <ui:define name="content">
                <div class="titulo">Roles</div>
                <h:form id="frm_lista">
                    <div class="card">
                        <p:dataTable id="tabla_lista" var="rol" paginator="true" paginatorPosition="top" rows="100" reflow="true"
                                     value="#{rolControlador.listaRoles}" emptyMessage="No existe información">
                            <p:column headerText="NOMBRE" filterBy="#{rol.nombre}"
                                      filterStyle="width:100%" filterMatchMode="contains">
                                <h:outputText value="#{rol.nombre}" />
                            </p:column>
                            <p:column headerText="ESTADO">
                                <h:outputText value="#{rolControlador.getEstado(rol)}" />
                            </p:column>
                        </p:dataTable>    
                    </div>
                </h:form>
            </ui:define>            
        </ui:composition>
    </h:body>
</html>
