<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>CONTROL DE AGENDA - PLANTEC</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" crossorigin="anonymous"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <link href="resources/css/style.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body>
        <ui:composition template="./plantilla/principal.xhtml">
            <ui:define name="content">   
                <div class="titulo">REPORTE DE ACTIVIDADES</div>
                <div class="subtitulo">Parametros del reporte</div>
                <div class="centrado">
                    <h:form id="frmContenido" prependId="false" >
                        <div class="col-sm-12">
                            <div class="col-sm-4" align="right">
                                <h:outputLabel value="Vendedor:"/> 
                            </div>
                            <div class="col-sm-8">
                                <p:selectOneMenu id="txtTipoProdDet001" value="#{generarReporte.idVendedor}" styleClass="form-selec"
                                                 filter="true" filterMatchMode="startsWith" 
                                                 converterMessage="No es le Id de un Vendedor" >
                                    <p:ajax event="change" update="frmContenido" immediate="true" />
                                    <f:selectItem itemLabel="Seleccionar Vendedor" itemValue="" />
                                    <f:selectItems value="#{generarReporte.vendedores}" var="tipoPInt001x" itemValue="#{tipoPInt001x.VVendedorId}" 
                                                   itemLabel="#{tipoPInt001x.VEmpleadoId.nombre}"/>
                                </p:selectOneMenu> 
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4" align="right">
                                <h:outputLabel value="Desde:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/> 
                            </div>
                            <div class="col-sm-8">
                                <p:calendar
                                    id="dtFechaIn001"
                                    value="#{generarReporte.fechaInicio}"
                                    showOn="button"
                                    placeholder="#{parametrosGenerales.formatoFecha}"
                                    required="true" requiredMessage="DEBE SELECCIONAR LA FECHA DE INICIO"
                                    locale="#{parametrosGenerales.local}"
                                    timeZone="#{parametrosGenerales.timeZone}"
                                    pattern="#{parametrosGenerales.formatoFecha}"
                                    valueChangeListener="#{generarReporte.onChangeFechaI}"
                                    title="Fecha en formato #{parametrosGenerales.formatoFecha}">
                                    <p:ajax event="dateSelect" listener="#{generarReporte.onSelectFechaI}"/>
                                </p:calendar>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4" align="right">
                                <h:outputLabel value="Hasta:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/> 
                            </div>
                            <div class="col-sm-8">
                                <p:calendar 
                                    id="dtFechaIn002"
                                    value="#{generarReporte.fechaFin}"
                                    showOn="button"
                                    placeholder="#{parametrosGenerales.formatoFecha}"
                                    required="true" requiredMessage="DEBE SELECCIONAR LA FECHA DE INICIO"
                                    locale="#{parametrosGenerales.local}"
                                    timeZone="#{parametrosGenerales.timeZone}"
                                    pattern="#{parametrosGenerales.formatoFecha}"
                                    valueChangeListener="#{generarReporte.onChangeFechaF}"
                                    title="Fecha en formato #{parametrosGenerales.formatoFecha}">
                                    <p:ajax event="dateSelect" listener="#{generarReporte.onSelectFechaF}"/>
                                </p:calendar>
                            </div>
                        </div>
                        <div class="col-sm-12" align="center" style="margin-top: 25px;">
                            <p:commandButton value="Planificado" immediate="true" class="btn btn-success btn-md ctr-btn-1 col-lg-4 col-md-4 col-sm-12 col-xs-12"
                                             ajax="false" actionListener="#{generarReporte.imprimirReporte()}">
                            </p:commandButton>
                            <p:commandButton value="Ejecutado" immediate="true" class="btn btn-success btn-md ctr-btn-1 col-lg-4 col-md-4 col-sm-12 col-xs-12"
                                             ajax="false" actionListener="#{generarReporte.imprimirEjecutado()}">
                            </p:commandButton>
                            <p:commandButton value="Detallado" immediate="true" class="btn btn-success btn-md ctr-btn-1 col-lg-4 col-md-4 col-sm-12 col-xs-12"
                                             ajax="false" actionListener="#{generarReporte.imprimirDetallado()}">
                            </p:commandButton> 
                        </div>
                    </h:form>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
