<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <ui:composition template="./plantilla/principal.xhtml">
            <ui:define name="content">
                <div class="titulo">Variedades</div>
                <p:commandButton class="ctr-btn-f" value="NUEVO" icon="fa fa-file-text" update=":frm_nuevo:datosIng" actionListener="#{variedadControlador.nuevaVariedad()}" oncomplete="PF('dialogNuevo').show()" title="Nuevo registro"/>
                <h:form id="frm_lista">
                    <div class="card">
                        <p:dataTable id="tabla_lista" var="variedad" paginator="true" paginatorPosition="top" rows="100" reflow="true"
                                     value="#{variedadControlador.listaVariedades}" 
                                     emptyMessage="No existe información">
                            <p:column headerText="NOMBRE" filterBy="#{variedad.nombre}"
                                      filterStyle="width:100%" filterMatchMode="contains">
                                <h:outputText value="#{variedad.nombre}" />
                            </p:column>
                            <p:column headerText="ESTADO" filterBy="#{variedadControlador.getEstado(variedad.estado)}"
                                      filterStyle="width:100%" filterMatchMode="contains">
                                <h:outputText value="#{variedadControlador.getEstado(variedad.estado)}" />
                            </p:column>
                            <p:column class="acciones" style="width: 150px;">
                                <f:facet name="header">  
                                    <h:outputText value="ACCIONES" />  
                                </f:facet>   
                                <p:commandButton class="ctr-btn-f" icon="fa fa-pencil" oncomplete="PF('dialogEditar').show()" 
                                                 process="@this" update=":frm_editar" title="Editar">
                                    <f:setPropertyActionListener target="#{variedadControlador.variedad}" value="#{variedad}"/>
                                </p:commandButton>
                                <p:commandButton class="ctr-btn-f" icon="fa fa-upload" oncomplete="PF('dialogCargarImagen').show()" 
                                                 process="@this" update=":frm_imagen" title="Editar">
                                    <f:setPropertyActionListener target="#{variedadControlador.variedad}" value="#{variedad}"/>
                                </p:commandButton>
                                <p:commandButton class="ctr-btn-f" icon="fa fa-trash" oncomplete="PF('dialogEliminar').show()" 
                                                 process="@this" update=":frm_eliminar" title="Eliminar">
                                    <f:setPropertyActionListener target="#{variedadControlador.variedad}" value="#{variedad}"/>
                                </p:commandButton>
                            </p:column>
                        </p:dataTable>
                    </div>
                </h:form>

                <h:form id="frm_nuevo">
                    <p:dialog id="dialog_nuevo" widgetVar="dialogNuevo" resizable="false" showEffect="size" hideEffect="explode" modal="true">
                        <p:panelGrid id="datosIng" class="panelIng">
                            <p:row style="text-align: center">
                                <p:column colspan="2">NUEVO REGISTRO</p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Nombre* : " />
                                </p:column>
                                <p:column>
                                    <h:panelGrid columns="2">
                                        <p:inputText id="nombre" value="#{variedadControlador.variedad.nombre}" required="true" label="Nombre" maxlength="50"/>
                                        <p:message for="nombre" display="icon" />
                                    </h:panelGrid>
                                </p:column>
                            </p:row>                           
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Estado* : " />
                                </p:column>
                                <p:column>
                                    <h:panelGrid columns="2">
                                        <p:selectOneMenu id="estado" value="#{variedadControlador.variedad.estado}" required="true" label="Estado">
                                            <f:selectItem itemValue="true" itemLabel="Activo"/>
                                            <f:selectItem itemValue="false" itemLabel="Inactivo"/>                   
                                        </p:selectOneMenu>
                                        <p:message for="estado" display="icon" />
                                    </h:panelGrid>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                        <p:commandButton value="Guardar" icon="ui-icon-circle-check" actionListener="#{variedadControlador.nuevaVariedad()}" update=":frm_lista:tabla_lista, frm_nuevo:datosIng"/>
                        <p:commandButton value="Cancelar" icon="ui-icon-circle-close" type="button" onclick="PF('dialogNuevo').hide()"/>
                    </p:dialog>
                </h:form>

                <h:form id="frm_editar">
                    <p:dialog id="dialog_editar" widgetVar="dialogEditar" resizable="false" showEffect="size" hideEffect="explode" modal="true">
                        <p:panelGrid id="datosEdit">
                            <p:row style="text-align: center">
                                <p:column colspan="2">EDITAR REGISTRO</p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Nombre* : " />
                                </p:column>
                                <p:column>
                                    <h:panelGrid columns="2">
                                        <p:inputText id="nombre" value="#{variedadControlador.variedad.nombre}" required="true" label="Nombre" maxlength="50"/>
                                        <p:message for="nombre" display="icon" />
                                    </h:panelGrid>
                                </p:column>
                            </p:row>                           
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Estado* : " />
                                </p:column>
                                <p:column>
                                    <h:panelGrid columns="2">
                                        <p:selectOneMenu id="estado" value="#{variedadControlador.variedad.estado}" required="true" label="Estado">
                                            <f:selectItem itemValue="true" itemLabel="Activo"/>
                                            <f:selectItem itemValue="false" itemLabel="Inactivo"/>                   
                                        </p:selectOneMenu>
                                        <p:message for="estado" display="icon" />
                                    </h:panelGrid>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                        <p:commandButton value="Editar" class="ctr-btn-f" icon="ui-icon-circle-check" actionListener="#{variedadControlador.editarVariedad()}" update=":frm_lista:tabla_lista, frm_editar:datosEdit"/>
                        <p:commandButton value="Cancelar" class="ctr-btn-f" icon="ui-icon-circle-close" type="button" onclick="PF('dialogEditar').hide()"/>
                    </p:dialog>
                </h:form>

                <h:form id="frm_imagen">
                    <p:dialog id="dialog_imagen" widgetVar="dialogCargarImagen" resizable="false" showEffect="size" hideEffect="explode" modal="true">
                        <p:panelGrid id="cargaImagen">
                            <p:row style="text-align: center">
                                <p:column>CARGAR imagen</p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <br/>
                                    <p:fileUpload value="#{variedadControlador.filep}" mode="simple" skinSimple="true"/>
                                    <p:commandButton value="Agregar" icon="ui-icon-circle-check" action="#{variedadControlador.upload()}" update=":frm_lista:tabla_lista" oncomplete="PF('dialogEliminar').hide()"/>
                                    <br/><br/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:dialog>
                </h:form> 

                <h:form id="frm_eliminar">
                    <p:dialog id="dialog_eliminar" widgetVar="dialogEliminar" resizable="false" showEffect="size" hideEffect="explode" modal="true">
                        <p:panelGrid>
                            <p:row>
                                <p:column>
                                    <br/><h:outputText value="¿Esta seguro que desea eliminar el registro?"/><br/><br/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                        <p:commandButton value="Aceptar" class="ctr-btn-f" icon="ui-icon-circle-check" actionListener="#{variedadControlador.eliminarVariedad()}" update=":frm_lista:tabla_lista" oncomplete="PF('dialogEliminar').hide()"/>
                        <p:commandButton value="Cancelar" class="ctr-btn-f" icon="ui-icon-circle-close" oncomplete="PF('dialogEliminar').hide()"/>
                    </p:dialog>
                </h:form> 

            </ui:define>            
        </ui:composition>
    </h:body>
</html>
